
<div class="container">
    <div class="jumbotron">
        <h1>NPR Politics News Scraper</h1>
        <p><a class="btn btn-dark btn-lg" href="/" role="button">Scrape New Articles</a></p>
    </div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Politics News Scraper</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/savedArticles" onclick="location.href='/saved/'">Saved Articles</a></li>
            </ul>
        </div>
    </div>
</nav>
{{#each articles}}
<article class="container articles">    
  <div class="row">
    <div "panel panel-default">
      <div class="panel panel-primary">
        </div><a class="panel-heading title" target="_blank" href={{this.link}}>{{this.title}}</a></div>
        <div class="panel-body"><p>{{this.summary}}</p></div>
        <form action="/savedArticles/:{{this.id}}?_method=PUT" method="POST"></form>
        <input class="articleID" type="hidden" name="id" value={{this._id}}></input>
        <button type="button" class="btn btn-default saveButton">Save Article</button>
            <div class="form-group">
            <label>Note:</label>       
            <input class="userNote form-control" placeholder="Add a note to the article" action="/api/article/save/:id"></input>
            </div>
            </div>
        <br>
        <br>
        </div>
    </article>
{{/each}}

